<!DOCTYPE html>
<!-- see github.com/WLCSC/rss-o-matic for example -->
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta charset="utf-8">
	</head>
	<body>
		<div>
			<span style="width: 49%; float: left;">
				<table>
					<tr>
						<td>
							<img width="512px;" src="http://radblast-aws.wunderground.com/cgi-bin/radar/WUNIDS_map?station=IND" />
						</td>
					</tr>
					<tr>
						<td>
							<table width="100%">
								<tr>
									<td>
										<div>
											<div style="position: relative;">
												<img id="compass_back" style="z-index: 1;" src="compass-back.png" />
												<img id="compass_needle" style="position: absolute; top: 0px; left: 0px; z-index: 2;" src="compass-needle.png" />
											</div>
											<p>
												<%= @wind_text %>
											</p>
										</div>
									</td>
									<td>
										<div>
											<img src="wl.png" height="128px;" />
										</div>
										<p style="text-align: center;">
											<%= @station_code %>
										</p>
									</td>
									<td>
										<p>
											<%= @temperature_string %>
										</p>
									</td>
								</tr>
						</table>
						</td>
					</tr>
				</table>
			</span>
			<span style="width: 49%; float: right;">
				<table>
					<% @forecast.each do |day| %>
					<tr>
						<td>
							<%= day[:dayname] %>:&nbsp;
							<% day[:weather_items].each do |item| %>
							<%= item %>;&nbsp;
							<% end %>
							High:&nbsp;<%= day[:high] %>
							Low:&nbsp;<%= day[:low] %>
						</td>
					</tr>
					<% end %>
				</table>
			</span>
			<div style="display: inline-block;">
		</div>
	</body>
</html>
