<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Weather-o-Matic</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Le styles -->
		<link href="css/bootstrap.css" rel="stylesheet">
		<link href="css/bootstrap-responsive.css" rel="stylesheet">
		<link href="css/metar-o-matic.css" rel="stylesheet">

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="js/html5shiv.js"></script>
			<![endif]-->

		<!-- Fav and touch icons -->
        <link rel="shortcut icon" href="ico/favicon.png">
	</head>

	<body>
		<div class="radar">
			<img src="http://radblast-aws.wunderground.com/cgi-bin/radar/WUNIDS_map?station=IND">
		</div>
		<div class="compass-logocredits-status-container">
			<div class="compass-container">
				<div class="compass-inner">
					<div class="compass">
						<img class="compass-back" src="compass-back.png" style="">
						<img class="compass-needle" src="compass-needle.png" style="">
					</div>
					<hr />
					<div class="compass-text">
						<%= @wind_text %>
					</div>
					<div class="wind-text">
						<%= "WIND" %>
					</div>
				</div>
			</div>
			<div class="logo-and-credits-container">
				<div class="logo-and-credits-inner">
					<div class="logo">
						<img src="wl.png" style="height: 128px;">
					</div>
					<hr />
					<div class="station-code" style="margin-top: -8px;">
						[<%= @station_code %>]
					</div>
					<div class="credits">
						<tiny>
							Designed by Kristofer Rye (c.o. 2016)<br />
							RADAR from <a href="http://www.wunderground.com">Weather Underground</a><br />
							Forecast from <a href="http://api.openweathermap.org">OpenWeatherMap</a>
						</tiny>
					</div>
				</div>
			</div>
			<div class="current-status-container">
				<div class="current-inner">
					<div class="weather-icon">
						<% wi = @scstring.split("; ").first %>
						<% puts wi %>
						<% case 
						   when wi.match( /(broken|few)/i) %>
						<img style="height: 128px;" src="weather-icons/mostly-sunny-icon.png">
						<% when wi.match(/(clear|sun)/i) %>
						<img style="height: 128px;" src="weather-icons/sunny-icon.png">
						<% when wi.match(/(rain|shower)/i) %>
						<img style="height: 128px;" src="weather-icons/shower-icon.png">
						<% when wi.match(/snow/i) %>
						<img style="height: 128px;" src="weather-icons/snowing-icon.png">
						<% when wi.match(/cloud/i) %>
						<img style="height: 128px;" src="weather-icons/cloudy-icon.png">
						<% when wi.match(/(thunder|storm)/i) %>
						<img style="height: 128px;" src="weather-icons/thunder-storm-icon.png">
						<% else %>
						<% puts wi + " did not match anything, it's sunny :D" %>
						<img style="height: 128px;" src="weather-icons/sunny-icon.png">
						<% end %>
					</div>
					<hr />
					<div class="current-temperature">
						<%= @temperature_short + " &deg;C " %>
					</div>
					<div id="date-time"></div>
				</div>
			</div>
		</div>
		<div class="forecast-container" style="position: absolute; height: <%= 768-32 %>px; width: <%= 1024-682 %>px; top: 16px; left:650px;">
			<% for i in 0..(@forecast.count - 1) %>
			<% cur_item = @forecast[i] %>
			<% each_height = ((768 - 32) / @forecast.count) - 8 %>
			<% differential = (i-1) * ((768 - 24) / @forecast.count)+10 %>
			<div class="forecast-item" style="position: absolute; top: <%= each_height + differential %>px; left: 0px; height: <%= each_height %>px; width: <%= 1024-(650+16) %>px;">
				<table style="margin-left: 16px; margin-right: 16px; height: <%= each_height%>px; width: <%= 1024-(650+48) %>px;">
					<tr>
						<td style="width: 96px;">
							<h1><%= cur_item[:dayname][0..2] %></h1>
						</td>
						<td>
							<% cur_item[:weather_items].each do |wi| %>
							<% case 
							   when wi.match( /(broken|few)/i) %>
							<img style="height: <%= each_height - 8 %>px;" src="weather-icons/mostly-sunny-icon.png">
							<% when wi.match(/(clear|sun)/i) %>
							<img style="height: <%= each_height - 8 %>px;" src="weather-icons/sunny-icon.png">
							<% when wi.match(/(rain|shower)/i) %>
							<img style="height: <%= each_height - 8 %>px;" src="weather-icons/shower-icon.png">
							<% when wi.match(/snow/i) %>
							<img style="height: <%= each_height - 8 %>px;" src="weather-icons/snowing-icon.png">
							<% when wi.match(/cloud/i) %>
							<img style="height: <%= each_height - 8 %>px;" src="weather-icons/cloudy-icon.png">
							<% when wi.match(/(thunder|storm)/i) %>
							<img style="height: <%= each_height - 8 %>px;" src="weather-icons/thunder-storm-icon.png">
							<% else %>
							<% puts wi + " did not match anything, it's sunny :D" %>
							<img style="height: <%= each_height - 8 %>px;" src="weather-icons/sunny-icon.png">
							<% end %>
							<% end %>
						</td>
						<td>
							<span style="font-size: 28px;"><%= cur_item[:high] %>&nbsp;/&nbsp;<%= cur_item[:low] %></span>
							<span style="font-size: 20px;">(&deg;C)</span>
						</td>
					</tr>
				</table>
			</div>
			<% end %>
		</div>
		<!-- Le javascript
			 ================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="js/bootstrap.js"></script>
		<script src="js/jquery.js"></script>
		<script src="js/metar-o-matic.js"></script>
	</body>
</html>
