<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Weather-o-Matic</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Le styles -->
		<link href="css/bootstrap.css" rel="stylesheet">
		<link href="css/bootstrap-responsive.css" rel="stylesheet">
		<link href="css/metar-o-matic.css" rel="stylesheet">

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="js/html5shiv.js"></script>
			<![endif]-->

		<!-- Fav and touch icons -->
        <link rel="shortcut icon" href="ico/favicon.png">
	</head>

	<body>
		<div class="container" style="width: 1024px;">
			<div class="row">
				<div class="span6">
					<table>
						<tr>
							<td colspan="3">
								<img width="100%" src="http://radblast-aws.wunderground.com/cgi-bin/radar/WUNIDS_map?station=IND" />
							</td>
						</tr>
						<tr>
							<td>
								<table style="width: 100%;">
									<tr>
										<td width="(100/3)%">
											<div>
												<div style="position: relative;">
													<img id="compass_back" style="z-index: 1;" src="compass-back.png" />
													<img id="compass_needle" style="position: absolute; top: 0px; left: 0px; z-index: 2;" src="compass-needle.png" />
												</div>
												<p>
													<%= @wind_text %>
												</p>
											</div>
										</td>
										<td width="(100/3)%">
											<img src="wl.png" style="height: 128px;" />
											<p style="text-align: center">
												<%= @station_code %>
											</p>
										</td>
										<td width="(100/3)%">
											<div>
												<% if @scstring =~ /^[A-Za-z; ]*broken cloud[A-Za-z; ]*$/ ||
												      @scstring =~ /^[A-Za-z; ]*few clouds[A-Za-z; ]*$/ %>
												<img style="height: 128px;" src="weather-icons/mostly-sunny-icon.png">
												<% elsif @scsctring =~ /^[A-Za-z; ]*clear[A-Za-z; ]*$/ %>
												<img style="height: 128px;" src="weather-icons/sunny-icon.png">
												<% elsif @scstring =~ /^[A-Za-z; ]*rain[A-Za-z; ]*$/ || @scstring =~ /^[A-Za-z; ]*shower[A-Za-z; ]*$/ %>
												<img style="height: 128px;" src="weather-icons/shower-icon.png">
												<% elsif @scstring =~ /^[A-Za-z; ]*snow[A-Za-z; ]*$/ %>
												<img style="height: 128px;" src="weather-icons/snowing-icon.png">
												<% elsif @scstring =~ /^[A-Za-z; ]*cloud[A-Za-z; ]*$/ %>
												<img style="height: 128px;" src="weather-icons/cloudy-icon.png">
												<% elsif @scstring =~ /^[A-Za-z; ]*thunder[A-Za-z; ]*$/ %>
												<img style="height: 128px;" src="weather-icons/thunder-storm-icon.png">
												<% else %>
												<%= @scstring %>
												<% end %>
											</div>
											<p>
												<%= @temperature_string.gsub(" (","<br />(") %>
											</p>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</div>
				<div class="span6">
					<table height="100%" width="100%">
						<% @forecast.each do |day| %>
						<tr width="100%" height="(100/<%=@forecast.count%>)%">
							<td>
								<div class="well" style="width: 100%;">
									<%= day[:dayname][0..2] %>&nbsp;
									<% day[:weather_items].each do |w| %>
									<%= w %>;&nbsp;
									<% end %>
									High:&nbsp;<%= day[:high] %>
									Low:&nbsp;<%= day[:high] %>
								</div>
							</td>
						</tr>
						<% end %>
					</table>
				</div>
			</div>
		</div> <!-- /container -->

		<!-- Le javascript
			 ================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="js/bootstrap.js"></script>
	</body>
</html>
